
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Consulado Republica Dominicana en New York</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="../LOGO CONSULADO Estados Unidos-01.png" rel="icon">
  <link href="../LOGO CONSULADO Estados Unidos-01.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800|Montserrat:300,400,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="../lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="../lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="../lib/animate/animate.min.css" rel="stylesheet">
  <link href="../lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="../lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="../lib/magnific-popup/magnific-popup.css" rel="stylesheet">
  <link href="../lib/ionicons/css/ionicons.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="../css/style.css" rel="stylesheet">

</head>

<body id="body">

  <!--==========================
    Top Bar
  ============================-->
 

  <!--==========================
    Header
  ============================-->
  	<div id="google_translate_element"></div><script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'es'}, 'google_translate_element');
}
</script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
  <header id="header">
  	
    <div class="container">

      <div id="logo" class="pull-left">
      	 <a class="navbar-brand " href="/">
      
   <img src="../LOGO CONSULADO Estados Unidos-01.png" width="40px"  class="d-inline-block align-top" alt="">
 
  Consulado Dominicano NY</a>
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="#body">Inicio</a></li>
          <li class="menu-has-children"><a href="">Servicios</a>
            <ul>
              <li><a href="/pasaporte">Pasaporte</a></li>
              <li><a href="/cedula">Cédula</a></li>
              <li><a href="/acta">Acta de Nacimiento</a></li>
              <li><a href="/legal">Poderes</a></li>
              <li><a href="/traducciones">Traducciones</a></li>
              <li><a href="/apostilla">Apostilla</a></li>
              <li><a href="/visa">Visas</a></li>
            </ul>
          </li>
          <li class="menu-has-children"><a href="">Ventanillas</a>
            <ul>
              <li><a href="/comunidad">Asuntos Comunitarios</a></li>
              <li><a href="/salud">Salud</a></li>
              <li><a href="/cultura">Cultura</a></li>
              <li><a href="/inmobiliaria">Inmobiliaria</a></li>
              
              
            </ul>
          </li>
          
          <li><a href="/consulgeneral">Cónsul General</a></li>
          <li><a href="/noticias">Consulado al Día</a></li>
          <li><a href="/externa">Oficinas Satelites</a></li>
          
        
       
           <li><a href="#contact">Contacto</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->
   <section id="topbar" class="d-none d-lg-block">
  
    <div class="container clearfix">
      <div class="contact-info float-left">
        <i class="fa fa-envelope-o" style="color:white"></i> <a href="mailto:info@consuladord-ny.org">info@consuladord-ny.org</a>
        <i class="fa fa-phone"  style="color:white"></i>+1 5589 55488 55 
        <i class="fa ">
        Horarios laborables: Lunes a Viernes 9:00 AM - 3:30PM / Sabados 9:00 AM - 1:30PM
      </i>
      </div>
      
       <a href="https://twitter.com/consuldom_ny?lang=en" class="twitter"><i class="fa fa-twitter" ></i></a>
        <a href="https://www.facebook.com/consuldomny/" class="facebook"><i class="fa  fa-facebook" ></i></a>
        <a href="https://www.instagram.com/consuldom_ny/" class="instagram"><i class="fa  fa-instagram" ></i></a>
        <a href="https://goo.gl/maps/C6nsSmJKymq" class="google-plus"><i class="fa  fa-google-plus"></i></a>
      
    </div>
    
  </section>
	
	
	<!-- Page Content------------------------------------------------ -->
	<aside class="page-content-wrapper">
  <div class=" container  panel-default shadow">
    <div class="container">
      <div class = "row">
  
   
        
 
    
    <div class="col-lg-12 col-md-12 col-sm-12 col-xm-12">
     <div class=text-center>
      <img src="../LOGO CONSULADO Estados Unidos-01.png" width="15%" height="auto" alt="" />
     
      
    
       
            <h1>Programación de citas en línea</h1>
            </div>
      
    <p class="text-justify"> El Consulado General de la República Dominicana ha puesto en funcionamiento el Centro de Información Consular y el Servicio de Citas Previas, para que cada dominicano pueda adelantar su diligencia y conocer con antelación los requisitos necesarios para optar por cada uno de los servicios consulares; de tal manera que el contribuyente pueda ser atendido en el menor tiempo posible y hacer más placentera su visita a nuestras oficinas. Siguiendo el mandato del Presidente de la Republica, el Licenciado Danilo Medina Sánchez, de ser un modelo en el programa República Digital. </p>
        
      
          <h1>Ventajas de hacer su cita online</h1>
          <li>No tienen que hacer fila para registrarse y tomar un turno.</li>
          <li>Solo tiene que esperar su hora de cita.</li>
          <li>En un promedio de 20 a 40 minutos,sera atendido (Dependiendo del Servicio a Realizar).</li>
          
          <br>
          <h1>Nota:</h1>
          
          <li>Un agente consular estara en contacto con usted, validando los documentos y confirmando el dia de su cita.</li>
          <li>Debe hacer el pago online,de lo contrario su cita no sera programada.</li>
          <li>Las citas se programan en un lapso de 24 horas.</li>
        </div>

  </div>
  
  </div>
  <br>
  <hr>
  <div class=" panel-default">
    <div class="panel-body">



      <div class="stepper">
        <ul class="nav nav-tabs" role="tablist">
          
          
           <li role="presentation" class="active">
            <a class="persistant-disabled" href="#stepper-step-intro" data-toggle="tab" aria-controls="stepper-step-intro" role="tab" title="intro">
              <span class="round-tab">Inicio</span>
            </a>
          </li>
            
              <% for (var i = 0; i < fPasaporte.Requisitos.length; i++) { %>
              
               <li role="presentation" class="disabled">
            <a class="persistant-disabled" href="#stepper-step-<%=i%>" data-toggle="tab" aria-controls="stepper-step-<%=i%>" role="tab" title="Step <%=i%>">
              <span class="round-tab"><%=i%></span>
            </a>
          </li>
             
               <% }; %>
               
                <li role="presentation" class="disabled">
            <a class="persistant-disabled" href="#stepper-step-Complete" data-toggle="tab" aria-controls="stepper-step-Complete" role="tab" title="Complete">
              <span class="round-tab">Fin</span>
            </a>
          </li>
        </ul>
            
            
             <form role="form">
               <div class="tab-content">
               
           
               
               <div class="tab-pane fade in active" role="tabpanel" id="stepper-step-intro">
                  <div class="panel panel-danger">
  <div class=" panel-heading"><h1><strong>Importante:</strong></h1></div>
  <div class="panel-content"><h4 >Antes de realizar su cita,usted debe cumplir con todos los requisitos y documentaciones necesarias para realizar su cita por internet</h4></div>
  
    </div>
               
                
            
                  
                  <a class="btn btn-primary next-step">Siguiente</a>
                 
            
            </div>
            
            
               
               
               
       
          <% for (var i = 0; i < fPasaporte.Requisitos.length; i++) { %>
            
            
              <div class="tab-pane fade in disabled" role="tabpanel" id="stepper-step-<%=i%>">
              <h4 class "h2"><%=fPasaporte.Requisitos[i] %></h4>
                <img src="<%=fPasaporte.RequisiImg[i] %>" width="85%" height="auto"/>
           
                  <a class="btn btn-primary next-step">Siguiente</a>
                  
            </div>
            
         
              
              <% };%>
         

          
           
            <div class="tab-pane fade" role="tabpanel" id="stepper-step-Complete">
              <h3>Video Como Hacer mi Cita</h3>
          <div class="embed-responsive embed-responsive-16by9">
  <iframe src="https://www.youtube.com/embed/29huXtqQhcA" width="560" height="316" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
</div>
              <a href="https://miconsulado.com.do/" class="btn btn-warning next-step">Hacer cita Online</a>
              
               <h1 id="section-6"><strong>Asistencia</strong></h1>
             
                <h4>Si necesita asistencia para realizar este servicio o desea realizar su cita por internet , solo tiene que completar el siguiente formulario , donde un agente consular le asistirá en cada momento.</h4>
             <a href="https://docs.google.com/forms/d/e/1FAIpQLSd49YVz8lyWY-BzHoHtw0ro2yl8_KahXQ1GHY8MRQIWB0m3Ug/viewform?usp=sf_link"><button type="button" class="btn btn-success">Formulario de Asistencia por Internet</button></a>
            </div>
          </div>
        </form>
        
        
        
      </div>

    </div>
  </div>
</div>
</div>
</div>
</body>



<footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>caribcs</strong>. All Rights Reserved
      </div>
      <div class="credits">
      
       
      </div>
    </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- JavaScript Libraries -->
  <script src="../lib/jquery/jquery.min.js"></script>
  <script src="../lib/jquery/jquery-migrate.min.js"></script>
  <script src="../lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../lib/easing/easing.min.js"></script>
  <script src="../lib/superfish/hoverIntent.js"></script>
  <script src="../lib/superfish/superfish.min.js"></script>
  <script src="../lib/wow/wow.min.js"></script>
  <script src="../lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="../lib/magnific-popup/magnific-popup.min.js"></script>
  <script src="../lib/sticky/sticky.js"></script>



  <!-- Template Main Javascript File -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="../js/main.js"></script>
  

</body>
</html>
