<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Consulado Republica Dominicana en New York</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="../LOGO CONSULADO Estados Unidos-01.png" rel="icon">
  <link href="../LOGO CONSULADO Estados Unidos-01.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800|Montserrat:300,400,700"
    rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="../lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="../lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="../lib/animate/animate.min.css" rel="stylesheet">
  <link href="../lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="../lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="../lib/magnific-popup/magnific-popup.css" rel="stylesheet">
  <link href="../lib/ionicons/css/ionicons.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="../css/style.css" rel="stylesheet">
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-127459332-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-127459332-1');
  </script>

</head>

<body id="body">

  <!--==========================
    Top Bar
  ============================-->


  <!--==========================
    Header
  ============================-->
  <div id="google_translate_element"></div>
  <script type="text/javascript">
    function googleTranslateElementInit() {
      new google.translate.TranslateElement({ pageLanguage: 'es' }, 'google_translate_element');
    }
  </script>
  <script type="text/javascript"
    src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
  <header id="header">

    <div class="container">

      <div id="logo" class="pull-left">
        <a class="navbar-brand " href="/">

          <img src="../LOGO CONSULADO Estados Unidos-01.png" width="40px" class="d-inline-block align-top" alt="">

          Consulado Dominicano NY</a>
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="/">Inicio</a></li>
          <li class="menu-has-children"><a>Servicios</a>
            <ul>
              <li><a href="/pasaporte">Pasaporte</a></li>
              <li><a href="/cedula">Cédula</a></li>
              <li><a href="/acta">Acta de Nacimiento</a></li>
              <li><a href="/legal">Poderes</a></li>
              <li><a href="/traducciones">Traducciones</a></li>
              <li><a href="/apostilla">Apostilla</a></li>
              <li><a href="/visa">Visas</a></li>
            </ul>
          </li>
          <li class="menu-has-children"><a>Ventanillas</a>
            <ul>
              <li><a href="/comunidad">Asuntos Comunitarios</a></li>
              <li><a href="/salud">Salud</a></li>
              <li><a href="/cultura">Cultura</a></li>
              <li><a href="/inmobiliaria">Inmobiliaria</a></li>


            </ul>
          </li>

          <li><a href="/consulgeneral">Cónsul General</a></li>
          <li><a href="/noticias">Consulado al Día</a></li>
          <li><a href="/externa">Oficinas Satelites</a></li>



          <li><a href="#contact">Contacto</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->
  <section id="topbar" class="d-none d-lg-block">

    <div class="container clearfix">
      <div class="contact-info float-left">
        <i class="fa fa-envelope-o"></i> <a href="mailto:info@consuladord-ny.org">info@consuladord-ny.org</a>
        <i class="fa fa-phone"></i>212-768-2480
        <i class="fa ">
          Horarios laborables: Lunes a Viernes 9:00 AM - 3:30PM / Sabados 9:00 AM - 1:30PM
        </i>
      </div>

      <a href="https://twitter.com/consuldom_ny?lang=en" class="twitter"><i class="fa fa-twitter"></i></a>
      <a href="https://www.facebook.com/consuldomny/" class="facebook"><i class="fa  fa-facebook"></i></a>
      <a href="https://www.instagram.com/consuldom_ny/" class="instagram"><i class="fa  fa-instagram"></i></a>
      <a href="https://goo.gl/maps/C6nsSmJKymq" class="google-plus"><i class="fa  fa-google-plus"></i></a>

    </div>


  </section>


  <!-- Page Content------------------------------------------------ -->
  <aside class="page-content-wrapper">

    <body>

      <div class="container panel-default shadow">
        <div class="jumbotron wow fadeInUp">
          <h2 class="white" style="color:white"><img src="../LOGO CONSULADO Estados Unidos-01.png" width="10%"
              height"50px"><%=fPasaporte.name %></h2>
        </div>



        <section id="services">

          <div class="container">

            <div class="row">

              <div class="col-lg-12">
                <div class="box wow fadeInUp" data-wow-delay="0.2s">

                  <h4 class="title"><a href=""><strong>Información:</strong></a></h4>
                  <p class="text-justify">
                    <%=fPasaporte.Descripcion %>
                </div>
              </div>




              <% if (fPasaporte.other) { %>
              <div class="col-lg-12">
                <div class="box wow fadeInUp" data-wow-delay="0.2s">
                  <p class="text-justify">
                    <%=fPasaporte.other%>
                </div>
              </div>
              <% }; %>

              <div class="col-lg-12">
                <div class="box wow fadeInUp" data-wow-delay="0.2s">
                  <h4 class="title"><a href=""><strong>Nota:</strong></a></h4>
                  <p class="text-justify">
                    <%=fPasaporte.observaciones%>
                </div>
              </div>


              <div class="col-lg-12">
                <div class="text-center">
                  <a href="https://www.crdny.com/"><button type="button" class="btn   btn-info">Consultar estatus del
                      pasaporte</button></a>
                </div>
              </div>

              <div class="col-lg-12">
                <div class="boxi wow fadeInUp" data-wow-delay="0.2s">















                  <div class="row">

                    <div class="container">


                      <div class="container ">

                        <br>
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                          <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#home">Documentos Requeridos</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#menu1">Pasos para realizar el servicio</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#menu2">Tiempo y Tarifas del servicio</a>
                          </li>

                          <!-- <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#menu3">Programación de citas en línea</a>
                          </li> -->




                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                          <div id="home" class="container tab-pane active"><br>

                            <h1 id="home"><strong>Documentos Requeridos</strong></h1>
                            <hr>


                            <% for (var i = 0; i < fPasaporte.Requisitos.length; i++) { %>

                            <p class="text-justify"><%=fPasaporte.Requisitos[i] %></p>
                            <div class="text-center">
                              <img class="telefono" width="50%" src="<%=fPasaporte.RequisiImg[i] %>" />
                            </div>
                            <br>
                            <br>


                            <% }; %>

                          </div>
                          <div id="menu1" class="container tab-pane fade"><br>
                            <h1 id="menu1"><strong>Pasos para realizar el Servicio</strong></h1>
                            <img width="100%" src="<%=fPasaporte.Pasos %>" />
                            <hr>
                          </div>
                          <div id="menu2" class="container tab-pane fade"><br>
                            <div class="panel">
                              <div class="panel-heading">
                                <h4 class="text-justify"><strong>Importante:</strong></h4>
                              </div>
                              <div class="panel-content">
                                <p class="text-justify"> El tiempo del servicio, es un estimado de la duración del
                                  servicio para ser completado. Si usted no realizó su cita por internet, el tiempo de
                                  espera dependerá de la cantidad de personas en turno.</p>

                                <br>
                                <p class="text-justify">Las personas que hacen su cita por internet tienen un tiempo
                                  promedio de 20 minutos o más dependiendo del servicio que vaya a realizar. Para más
                                  información visite la sección de cómo programar su cita en línea.</p>
                              </div>
                              <br>
                            </div>

                            <p class="text-justify">Tiempo estimado de entrega: <strong><%=fPasaporte.tiempo%></strong>
                            </p>
                            </li>
                            <br>
                            <p class="text-justify"> Tarifas del servicio <strong><%=fPasaporte.costo %></strong> </p>
                            <br>
                            <p class="text-justify">Se aceptan pagos en efectivo y money order a nombre del Consulado
                              General de la Republica Dominicana en la ciudad de Nueva York , 1501 Broadway suite 410 ,
                              New York , NY 10036.</p>
                            </ul>
                          </div>

                          <!-- <div id="menu3" class="container tab-pane fade"><br>
                            <h1 id="section-3"><strong>Programación de citas en línea</strong></h1>

                            <div class="col-lg-12 col-md-12 col-sm-12 col-xm-12">
                              <div class=text-center>
                                <img src="../LOGO CONSULADO Estados Unidos-01.png" width="15%" height="auto" alt="" />
                              </div>
                              <br>

                              <div>


                                <p class="text-justify"> El Consulado General de la República Dominicana ha puesto en
                                  funcionamiento el Centro de Información Consular y el Servicio de Citas Previas, para
                                  que cada dominicano pueda adelantar su diligencia y conocer con antelación los
                                  requisitos necesarios para optar por cada uno de los servicios consulares; de tal
                                  manera que el contribuyente pueda ser atendido en el menor tiempo posible y hacer más
                                  placentera su visita a nuestras oficinas. Siguiendo el mandato del Presidente de la
                                  Republica, el Licenciado Danilo Medina Sánchez, de ser un modelo en el programa
                                  República Digital. </p>


                                <h1>Ventajas de hacer su cita online</h1>
                                <li>No tienen que hacer fila para registrarse y tomar un turno.</li>
                                <li>Solo tiene que esperar su hora de cita.</li>
                                <li>En un promedio de 20 a 40 minutos,sera atendido (Dependiendo del Servicio a
                                  Realizar).</li>

                                <br>
                                <h1>Nota:</h1>
                                <li>Debe cumplir con cada uno de los documentos requeridos, para poder programar su cita
                                  en línea.</li>
                                <li>Un agente consular estara en contacto con usted, validando los documentos y
                                  confirmando el dia de su cita.</li>
                                <li>Debe hacer el pago online,de lo contrario su cita no sera programada.</li>
                                <li>Las citas se programan en un lapso de 24 horas.</li>

                                <br>
                                <a href="https://goo.gl/forms/VIfRMpvH4jX2UL012"><button type="button"
                                    class="btn btn-warning">Hacer mi cita online</button></a>
                                <a href="https://wa.me/16462700749"><button type="button" class="btn btn-success">Enviar
                                    mensaje por WhatsApp</button></a>
                                <hr>

                              </div>

                            </div>
                          </div> -->






                        </div>


                      </div>
                    </div>
        </section>

    </body>



    <footer id="footer">
      <div class="container">
        <div class="copyright">
          &copy; Copyright <strong>caribcs</strong>. All Rights Reserved
        </div>
        <div class="credits">


        </div>
      </div>
    </footer><!-- #footer -->

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

    <!-- JavaScript Libraries -->
    <script src="../lib/jquery/jquery.min.js"></script>
    <script src="../lib/jquery/jquery-migrate.min.js"></script>
    <script src="../lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../lib/easing/easing.min.js"></script>
    <script src="../lib/superfish/hoverIntent.js"></script>
    <script src="../lib/superfish/superfish.min.js"></script>
    <script src="../lib/wow/wow.min.js"></script>
    <script src="../lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="../lib/magnific-popup/magnific-popup.min.js"></script>
    <script src="../lib/sticky/sticky.js"></script>



    <!-- Template Main Javascript File -->
    <script src="../js/main.js"></script>

</body>

</html>